.search_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.search_bg{
    background-image: url('../images/search.jpg');
    background-size: cover;
}
